URxvt*font: xft:Iosevka Term:autohint=true:pixelsize=12,xft:Unifont:pixelsize=12,xft:Noto Emoji:pixelsize=12
URxvt.letterSpace: -1

URxvt*scrollBar: false
URxvt.internalBorder: 4
URxvt*fading: 30
URxvt.urgentOnBell: true

URxvt.perl-ext-common: default,matcher,tabbed
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
