URxvt*font: xft:Sarasa Mono CL:autohint=true:pixelsize=12,xft:Unifont:pixelsize=12,xft:Noto Emoji:pixelsize=12
! URxvt.letterSpace: -1

URxvt*loginShell: true
URxvt*scrollBar: false
URxvt.internalBorder: 4
URxvt*fading: 30
URxvt.urgentOnBell: true
urxvt*saveLines: 32767
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.perl-ext-common: default,matcher,tabbed
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
