[submodule "vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "YouCompleteMe"]
	path = vim/.vim/bundle.vim/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "syntastic"]
	path = vim/.vim/bundle.vim/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "fzf"]
	path = vim/.vim/bundle/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "rainbow"]
	path = vim/.vim/bundle/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule "deoplete.nvim"]
	path = vim/.vim/bundle.nvim/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "deoplete-jedi"]
	path = vim/.vim/bundle.nvim/deoplete-jedi
	url = git@github.com:zchee/deoplete-jedi.git
[submodule "deoplete-ternjs"]
	path = vim/.vim/bundle.nvim/deoplete-ternjs
vimvimurl = https://github.com/carlitux/deoplete-ternjs
	url = git@github.com:carlitux/deoplete-ternjs.git
[submodule "tern_for_vim"]
	path = vim/.vim/bundle.nvim/tern_for_vim
vimvimurl = https://github.com/ternjs/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "base16-shell"]
	path = base16-shell/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "neomake"]
	path = vim/.vim/bundle.nvim/neomake
	url = git@github.com:neomake/neomake.git
[submodule "neoinclude.vim"]
	path = vim/.vim/bundle.nvim/neoinclude.vim
	url = git@github.com:Shougo/neoinclude.vim.git
[submodule "vim-sneak"]
	path = vim/.vim/bundle/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim-pathogen"]
	path = vim/.vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "base16-xresources"]
	path = urxvt/base16-xresources
	url = git@github.com:chriskempson/base16-xresources.git
[submodule "goyo.vim"]
	path = vim/.vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "vimtex"]
	path = vim/.vim/bundle/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "minimal"]
	path = zsh/minimal
	url = git@github.com:subnixr/minimal.git
[submodule "vim-over"]
	path = vim/.vim/bundle/vim-over
	url = git@github.com:osyo-manga/vim-over.git
[submodule "deoplete-emoji"]
	path = vim/.vim/bundle.nvim/deoplete-emoji
	url = git@github.com:fszymanski/deoplete-emoji.git
[submodule "vim-emoji"]
	path = vim/.vim/bundle/vim-emoji
	url = git@github.com:junegunn/vim-emoji.git
[submodule "deoplete-clang2"]
	path = vim/.vim/bundle.nvim/deoplete-clang2
	url = git@github.com:tweekmonster/deoplete-clang2.git
