[submodule "vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "YouCompleteMe"]
	path = vim/.vim/bundle.vim/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "syntastic"]
	path = vim/.vim/bundle.vim/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "fzf"]
	path = vim/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "rainbow"]
	path = vim/.vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "deoplete.nvim"]
	path = vim/.vim/bundle.nvim/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "deoplete-jedi"]
	path = vim/.vim/bundle.nvim/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule "deoplete-ternjs"]
	path = vim/.vim/bundle.nvim/deoplete-ternjs
vimvimurl = https://github.com/carlitux/deoplete-ternjs
[submodule "tern_for_vim"]
	path = vim/.vim/bundle.nvim/tern_for_vim
vimvimurl = https://github.com/ternjs/tern_for_vim
[submodule "base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "deoplete-clang"]
	path = vim/.vim/bundle.nvim/deoplete-clang
	url = https://github.com/zchee/deoplete-clang.git
[submodule "base16-shell"]
	path = base16-shell/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "neomake"]
	path = vim/.vim/bundle.nvim/neomake
	url = https://github.com/neomake/neomake
[submodule "neoinclude.vim"]
	path = vim/.vim/bundle.nvim/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule "vim-sneak"]
	path = vim/.vim/bundle/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim-pathogen"]
	path = vim/.vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim-autotag"]
	path = vim/.vim/bundle/vim-autotag
	url = git@github.com:craigemery/vim-autotag.git
